.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.leftBar{
  background-color: #282c34;
  color: #fff;
}
.ant-typography{
  color: #fff !important;

}
.ant-card-head {
  min-height: 100px;
}

.cardTitle{
 text-align: center;
 }
 .cardTitle p{
  font-size: 12px;
  font-weight: 400;
  white-space: break-spaces;
  text-align: justify;
}

.cardTitle .anticon{
  font-size: 30pt;
    display: flex;
    justify-content:center;
}
.scoreBar{
  padding: 16px;
  font-size: 20pt;
}
.scoreBar .ant-progress{
  margin: 0 auto 0 -13px;
  display: block;
  text-align: center;
}